#banner {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #158477;*/
    background-color: #660022;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
 }
 #belowbanner {
     margin-top: 90px
  }

 #titleheading {
     font-size: 34pt;
     padding-left: 100px;
     color:white;
  }

.rounded{
    border-radius: 4px;
}
