extend ../layout1
block content
  h1 Profile Info
  .container
    .row
      .col-sm-6
        img(src="/img/smiley.png", width="80%", height="90%")
      .col-sm-6  
        a.roundmediumbtn.btn.winebtn.mainbtn(href='/request_feed') upload image
        a.roundmediumbtn.btn.winebtn(href='/request_feed') choose image
  input.round.bio(type='text', placeholder='user bio')
  a.btn.round.winebtn(href="#") 
    | Tags
  | Are you an organization?
  input(type='checkbox')
  |  yes
  input(type='checkbox')
  |  no
  a.round.btn.winebtn.mainbtn(href='/request_feed') Add Info to Profile
  a(href='/request_feed')
    | fill out later
