extend ../layout2
block content
  .row
    .col-sm-6
      .form-inline
        img#logomini(src='/img/maroon_shadow.png')
        #titleheading2 Give It Forward         
    .col-sm-6  
      a.leftsmallroundbtn.btn.winebtn(href='/request_feed') RF
      a.middlesmallroundbtn.btn.greybtn.btn-secondary(href='/orgs') Orgs
      a.middlesmallroundbtn.btn.greybtn.btn-secondary(href='/orgs') Users
      a.rightsmallroundbtn.btn.greybtn(href='/my_profile') My Profile
  .row
    .col-sm-8
      .form-inline     
        input.round(type='text', placeholder='search for tags')
        a.roundminibtn.btn.greybtn(href='/request_feed') go
    .col-sm-4    
      a.roundmediumbtn.btn.winebtn(href='/new_request') + new request
  .row  
    img#requestfeed(src='/img/requests.png')
