extend layout1
block content
  .btn-group
    a.input.leftroundbtn.winebtn(href='/index') Log In
    a.input.rightroundbtn.greybtn(href='/signup') Sign Up
  input.round(type='text', placeholder='username or email')
  input.round(type='password', placeholder='password')
  //- a.input.round.winebtn(href='http://womenscenter.utah.edu/') Log In
  a.btn.round.winebtn.mainbtn(href='/request_feed') Log In
