!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Give It Forward
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container-fluid
      .row
        .col-md-3.leftcol.scroll
          .row.border-bottom
            img#profilepicmini(src="/img/smile.png")
            br
            | &nbsp Welcome, CS_Nerd
          .row
            //- img#notifications(src='/img/notifications.png')
            #notetext
              | today
            img#note(src='/img/note1.png')
            #notetext
              | last 7 days
            img#note(src='/img/note2.png')
            #notetext
              | all time
            img#note(src='/img/note3.png')
            img#note2(src='/img/note3.png')
        .col-md-9.rightcol.scroll  
          block content
  include partials/scripts
